<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=actor.surname%> </title>
    <link rel="stylesheet" href="/actors.css">
</head>
<body style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
    <section>
        <ul>
            <li>
                Name: <%=actor.name%>
            </li>
            <li>
                Surname: <%=actor.surname%> 
            </li>
            <li>
                Age: <%=actor.age%> 
            </li>
            <li>
                Wife`s name: <%=actor.wife%> 
            </li>
            <li>
                Children: <%=actor.children%> 
            </li>
        </ul>
    </section>
</body>
</html>